<div class="card">
  <div class="d-flex flex-column gap-3">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="d-flex align-items-center gap-2">
          <p-select
            [(ngModel)]="selectValue"
            [options]="selectOptions"
            placeholder="Seleccione una opción"
            style="min-width: 200px"
            (onChange)="changeSelect()"
          />
          <input
            pInputText
            [(ngModel)]="inputValue"
            placeholder="Ingrese un valor"
            style="min-width: 200px"
          />
          <p-button label="Buscar" severity="info" (onClick)="searchValue()" />
          @if(isLoading) {
          <p-progress-spinner
            strokeWidth="8"
            fill="transparent"
            animationDuration=".5s"
            [style]="{ width: '50px', height: '50px' }"
          />
          }
        </div>
      </div>
    </div>
    @if (!legoApiValue && isLoading) {
    <div class="row align-items-center justify-content-between">
      <div class="col-5">
        <p-skeleton width="100%" height="12rem" borderRadius="16px" />
      </div>
      <div class="col-7">
        <p-skeleton width="100%" class="mb-2" borderRadius="16px" />
        <p-skeleton width="100%" class="mb-2" borderRadius="16px" />
        <p-skeleton width="100%" class="mb-2" borderRadius="16px" />
        <p-skeleton width="100%" class="mb-2" borderRadius="16px" />
        <p-skeleton width="100%" class="mb-2" borderRadius="16px" />
        <p-skeleton width="100%" class="mb-2" borderRadius="16px" />
        <p-skeleton width="100%" class="mb-2" borderRadius="16px" />
        <p-skeleton width="100%" class="mb-2" borderRadius="16px" />
      </div>
    </div>
    } @else if (legoApiValue && !isSelectChange) {
    <div class="row align-items-center justify-content-between">
      <div class="col-4">
        <img [src]="imageUrl" alt="" width="80%" height="200px" />
      </div>
      <div class="col-8">
        @if (selectValue.toLowerCase() === 'lego') { Lego }@else if (selectValue.toLowerCase() ===
        'pieza') {
        <p class="fs-5">Colores Disponibles</p>
        <div class="colors">
          @for (color of piezaColores; track color.color_id) {
          <div>
            <p>{{ color.color_name }}</p>
          </div>
          }
        </div>
        }
      </div>
    </div>
    }
  </div>
</div>
