<div class="container-fluid">
  <div class="d-flex flex-wrap flex-column gap-4">
    <div class="row">
      <div class="col-12">
        <h2 class="fw-bold">Piezas de Lego</h2>
      </div>
    </div>
    <div class="table-responsive-lg">
      <p-toast />
      <p-confirmdialog />
      <p-table
        [columns]="options"
        [value]="legos"
        [tableStyle]="{ 'min-width': '50rem' }"
        [(selection)]="selectedLegos"
        dataKey="id"
        [rows]="rows"
        [paginator]="legos.length > 0"
        [first]="first"
        [showCurrentPageReport]="legos.length > 0"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPage)="onPageChange($event)"
        (onSelectionChange)="onEditLego()"
        [rowsPerPageOptions]="[4, 8]"
      >
        <ng-template #caption>
          <div class="row align-items-center">
            <div class="col-lg-4">
              <div class="d-flex flex-row flex-wrap justify-content-start gap-2 w-100">
                <p-select
                  placeholder="Buscar Por..."
                  [options]="selectOptions"
                  [style]="{ 'text-transform': 'capitalize' }"
                  class="option-select"
                  [(ngModel)]="optionSelected"
                  optionLabel="header"
                />
                <p-auto-complete
                  placeholder="Ingresar Valor..."
                  class="auto-complete"
                  [(ngModel)]="inputValue"
                  [showClear]="true"
                  [suggestions]="inputOptions"
                  (completeMethod)="onAutoComplete()"
                  (onSelect)="onSelectValue()"
                />
                @if (firstLoading && legos.length === 0) {
                <p-progress-spinner
                  strokeWidth="8"
                  fill="transparent"
                  animationDuration=".5s"
                  [style]="{ width: '50px', height: '50px', margin: '0px 10px' }"
                />
                }
                @if (openingPDF) {
                  <p-progress-spinner
                    strokeWidth="8"
                    fill="transparent"
                    animationDuration=".5s"
                    [style]="{ width: '50px', height: '50px', margin: '0px 10px' }"
                  />
                  }
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex flex-row flex-wrap justify-content-start gap-2 w-100">
                <p-button
                  label="Agregar Lego"
                  severity="success"
                  iconPos="left"
                  icon="pi pi-plus-circle"
                  (onClick)="openAddModal()"
                />
                <p-button
                  label="Editar Lego"
                  severity="info"
                  iconPos="left"
                  icon="pi pi-check-circle"
                  [disabled]="selectedLegos.length !== 1"
                  (onClick)="openEditModal(selectedLegos[0])"
                />
                <p-button
                  label="Eliminar Lego"
                  severity="danger"
                  iconPos="left"
                  icon="pi pi-exclamation-triangle"
                  [disabled]="selectedLegos.length !== 1"
                  (onClick)="onDeleteLego(selectedLegos[0].id)"
                />
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template #header let-columns>
          <tr>
            <th><p-tableHeaderCheckbox /></th>
            @for (col of columns; track col) {
            <th>{{ col.header }}</th>
            }
          </tr>
        </ng-template>
        <ng-template #body let-rowData let-columns="columns" let-lego>
          @if (isLoading) {
          <tr>
            <td>
              <p-skeleton size="1.5rem" />
            </td>
            @for (col of columns; track col) {
            <td>
              <p-skeleton width="5rem" class="mb-2" />
            </td>
            }
          </tr>
          } @else {
          <tr>
            <td>
              <p-tableCheckbox [value]="rowData" />
            </td>
            @for (col of columns; track col) { @if (col.field === 'lego') {
            <td>
              <p-button class="lego-link" (onClick)="seePDF(rowData[col.field])"> {{ rowData[col.field] }} </p-button>
            </td>
            } @else if (col.field === 'pieza') {
            <td>{{ rowData[col.field] ?? 'Sin Pieza' }}</td>
            } @else if (col.field === 'task') {
            <td>{{ rowData[col.field] ?? 'Sin Bolsa' }}</td>
            }@else if(col.field === 'set_nombre') {
            <td>{{ rowData[col.field] !== '' ? rowData[col.field] : 'Sin Set' }}</td>
            } @else if (col.field === 'comentarios') {
            <td>{{ rowData[col.field] ? rowData[col.field] : 'Sin Comentarios' }}</td>
            }@else if (col.field.includes('imagen')) {
            <td>
              <img [src]="rowData[col.field]" alt="">
            </td>
            }@else {
            <td>{{ rowData[col.field] !== '' ? rowData[col.field] : 'No' }}</td>
            } }
          </tr>
          }
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
