:host {
  display: block;
}

p-select {
  width: 100%;
  max-width: 250px;
}

p-table {
  th {
    font-weight: bold;
  }
}

.table-responsive {
  width: 100%;
}

@media (max-width: 768px) {
  .buttons {
    p-button {
      width: 100%;
    }
  }

  .filters {
    justify-content: space-between;
  }
}