<div class="container-fluid">
  <form [formGroup]="legoForm" class="d-flex flex-column gap-4">
    <div class="d-flex align-items-center justify-content-between w-100 gap-4">
      <p-inputgroup>
        <p-inputgroup-addon [pTooltip]="legoImage" tooltipPosition="left">
          <i class="pi pi-search"></i>
        </p-inputgroup-addon>
        <p-iftaLabel>
          <p-autocomplete
            inputId="lego"
            formControlName="lego"
            [showClear]="true"
            (completeMethod)="getOptions('lego')"
            (onSelect)="onSelectLego($event)"
            [suggestions]="options"
          />
          <label for="lego">{{ 'lego' | titlecase }}</label>
        </p-iftaLabel>
      </p-inputgroup>
      <p-inputgroup>
        <p-inputgroup-addon [pTooltip]="piezaImage" tooltipPosition="left">
          <i class="pi pi-search"></i>
        </p-inputgroup-addon>
        <p-iftaLabel>
          <p-autocomplete
            inputId="pieza"
            formControlName="pieza"
            [showClear]="true"
            (completeMethod)="getOptions('pieza')"
            (onSelect)="onSelectPieza($event)"
            [suggestions]="options"
          />
          <label for="pieza">{{ 'pieza' | titlecase }}</label>
        </p-iftaLabel>
      </p-inputgroup>
    </div>
    <div class="d-flex align-items-center justify-content-between w-100 gap-4">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-box"></i>
        </p-inputgroup-addon>
        <p-iftaLabel>
          <p-autocomplete
            inputId="cantidad"
            formControlName="cantidad"
            [showClear]="true"
            (completeMethod)="getOptions('cantidad')"
            [suggestions]="options"
          />
          <label for="cantidad">{{ 'cantidad' | titlecase }}</label>
        </p-iftaLabel>
      </p-inputgroup>
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-list"></i>
        </p-inputgroup-addon>
        <p-iftaLabel>
          <p-autocomplete
            inputId="task"
            formControlName="task"
            [showClear]="true"
            (completeMethod)="getOptions('task')"
            [suggestions]="options"
          />
          <label for="task">{{ 'task' | titlecase }}</label>
        </p-iftaLabel>
      </p-inputgroup>
    </div>
    <div class="d-flex align-items-center justify-content-between w-100 gap-4">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-tag"></i>
        </p-inputgroup-addon>
        <p-iftaLabel>
          <p-autocomplete
            inputId="set"
            formControlName="set"
            [showClear]="true"
            (completeMethod)="getOptions('set')"
            [suggestions]="options"
          />
          <label for="set">{{ 'set' | titlecase }}</label>
        </p-iftaLabel>
      </p-inputgroup>
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-check"></i>
        </p-inputgroup-addon>
        <p-iftaLabel>
          <p-autocomplete
            inputId="esta_pedido"
            formControlName="esta_pedido"
            [showClear]="true"
            (completeMethod)="getOptions('esta_pedido')"
            [suggestions]="options"
          />
          <label for="esta_pedido">{{ 'esta pedido' | titlecase }}</label>
        </p-iftaLabel>
      </p-inputgroup>
    </div>
    <div class="d-flex align-items-center justify-content-between w-100 gap-4">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-check"></i>
        </p-inputgroup-addon>
        <p-iftaLabel>
          <p-autocomplete
            inputId="esta_completo"
            formControlName="esta_completo"
            [showClear]="true"
            (completeMethod)="getOptions('esta_completo')"
            [suggestions]="options"
          />
          <label for="esta_completo">{{ 'esta completo' | titlecase }}</label>
        </p-iftaLabel>
      </p-inputgroup>
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-check"></i>
        </p-inputgroup-addon>
        <p-iftaLabel>
          <p-autocomplete
            inputId="esta_reemplazado"
            formControlName="esta_reemplazado"
            [showClear]="true"
            (completeMethod)="getOptions('esta_reemplazado')"
            [suggestions]="options"
          />
          <label for="esta_reemplazado">{{ 'esta reemplazado' | titlecase }}</label>
        </p-iftaLabel>
      </p-inputgroup>
    </div>
    <div class="d-flex align-items-center justify-content-between w-50 gap-4">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-plus"></i>
        </p-inputgroup-addon>
        <p-iftaLabel>
          <p-autocomplete
            inputId="comentarios"
            formControlName="comentarios"
            [showClear]="true"
            (completeMethod)="getOptions('pieza')"
            [suggestions]="options"
          />
          <label for="pieza">{{ 'comentarios' | titlecase }}</label>
        </p-iftaLabel>
      </p-inputgroup>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <p-button
        label="Guardar cambios"
        severity="primary"
        [style]="{ width: '100%', 'min-width': '200px' }"
      ></p-button>
      <p-button
        label="Cancelar cambios"
        severity="danger"
        [style]="{ width: '100%', 'min-width': '200px' }"
      ></p-button>
    </div>
  </form>
  <ng-template #legoImage>
    <div class="flex items-center">
      <img
        [src]="legoForm.get('image_lego')?.value"
        alt=""
        [style]="{ width: '100px', height: '100px' }"
      />
    </div>
  </ng-template>
  <ng-template #piezaImage>
    <div class="flex items-center">
      <img
        [src]="legoForm.get('image_pieza')?.value"
        alt=""
        [style]="{ width: '100px', height: '100px' }"
      />
    </div>
  </ng-template>
</div>
